<!--Pode modularizar o cadastro de funcionarios e de clientes para se tornarem um unico componente. 
Usar @input no .ts-->
<h1>Cadastro de Funcionário</h1>
<div class="input row">
    <div class="col-md-6">
        <input type="text" name="nome" [(ngModel)]="name" placeholder="Digite seu nome completo">
    </div>
    <div class="col-md-6">
        <input type="text" name="cpf" [(ngModel)]="cpf" placeholder="Digite seu CPF">
    </div>
</div>
<div class="input row">
    <div class="col-md-12">
        <input type="text" name="endereco" [(ngModel)]="endereco" placeholder="Digite seu endereço">
    </div>
</div>
<div class="input row">
    <div class="col-md-12">
        <input type="text" name="e-mail" [(ngModel)]="email" placeholder="Digite seu e-mail">
    </div>
</div>
<div class="input row">
    <div class="col-md-6">
        <input type="text" name="telefone" [(ngModel)]="telefone" placeholder="Digite seu telefone">
    </div>
    <div class="col-md-6">
        <input type="password" name="senha" [(ngModel)]="senha" placeholder="Digite sua senha">
    </div>
</div> 
<div class="input row">
    <div class="col-md-12">
        <button class="confirmationButton" (click)="createUser()"> Cadastrar Funcionário </button>
    </div>
</div>       
