<div class="body">
    <app-navbar></app-navbar>
    <div id="carouselFilmes" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="bloco-filme row">
                    <div class="img-filme col-md-4">
                        <img class="cartaz" src="../../assets/poster-os-vingadores-2-a-era-de-ultron-o-95f5a316.jpg" alt="">
                    </div>
                    <div class="text-filme col-md-8">
                        <h1 class="titulo">Titulo</h1>
                        <p class="categoria">Genero: </p>
                        <p class="categoria">Classificação Etária: </p>
                        <p class="categoria">Tempo de Duração: </p>
                        <p class="categoria">Sinopse: </p>
                        <p class="categoria">Atores Principais: </p>
                        <p class="categoria">Dublado e/ou Legendado: </p>
                        <p class="categoria">Sala Comum e/ou 3D</p>
                        <p class="categoria">Horarios</p>
                        <button class="ver-sessoes">Ver Sessões</button>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="bloco-filme row">
                    <div class="img-filme col-md-4">
                        <img class="cartaz" src="../../assets/cartaz-poster-vingadores-4-ultimato-filme-marvel-avengers-colecionador.jpg" alt="">
                    </div>
                    <div class="text-filme col-md-8">
                        <h1 class="titulo">Titulo</h1>
                        <p class="categoria">Genero: </p>
                        <p class="categoria">Classificação Etária: </p>
                        <p class="categoria">Tempo de Duração: </p>
                        <p class="categoria">Sinopse: </p>
                        <p class="categoria">Atores Principais: </p>
                        <p class="categoria">Dublado e/ou Legendado: </p>
                        <p class="categoria">Sala Comum e/ou 3D</p>
                        <p class="categoria">Horarios</p>
                        <button class="ver-sessoes">Ver Sessões</button>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="bloco-filme row">
                    <div class="img-filme col-md-4">
                        <img class="cartaz" src="../../assets/cinema.jpg" alt="">
                    </div>
                    <div class="text-filme col-md-8">
                        <h1 class="titulo">Titulo</h1>
                        <p class="categoria">Genero: </p>
                        <p class="categoria">Classificação Etária: </p>
                        <p class="categoria">Tempo de Duração: </p>
                        <p class="categoria">Sinopse: </p>
                        <p class="categoria">Atores Principais: </p>
                        <p class="categoria">Dublado e/ou Legendado: </p>
                        <p class="categoria">Sala Comum e/ou 3D</p>
                        <p class="categoria">Horarios: </p>
                        <button class="ver-sessoes">Ver Sessões</button>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselFilmes" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselFilmes" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
    </div>
</div>