/*class tags*/
.body{
    background-color: black;
    min-height: 100vh;
    text-align: center;
}

.blocoFilme{
    padding: 5% 15%;
}

.blocoSessao{
    padding: 0% 15% 5%;
    margin: 0px;
}

.buttonSessao{
    border-radius: 0.25rem;
    font-weight: 800;    
    height: 100%;
    width: 100%;
}

.cartaz{
    width: 100%;
    height: 65vh;
}

.categoria{
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
}

.errorTriangleDiv{
    font-size: 2rem;
    padding: 0.5rem 0;
}

.errorTriangleIcon{
    margin: 0 1rem;
}

.leftArrow{
    color: gray;
    font-size: 2rem;
    padding: 2% 0 0 2rem;
    text-align: left;
}

.leftArrowIcon:hover{
    color: white;
    cursor: pointer;
}

.textFilme{
    text-align: left;
    color: #e0e0e0;
}

.semFilmes{
    padding: 12% 35%;
    font-weight: 700;
    color: #eeeeee;
}

.sessao{
    margin-top: 0.5rem;
}

.titulo{
    font-size: 2.5rem;
    font-weight: 800;
}

.verSessoes{
    width: 40%;
    height: 20%;
    font-weight: 800;
    margin: 5% 30%;
}