<div class="body">
    <app-navbar></app-navbar>
    <div id="carouselFilmes" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <ng-container *ngFor="let filme of filmes; index as i">
                <div class="carousel-item" [class.active]="i==0" *ngIf="!filme.arquivado">
                    <div class="bloco-filme row">
                        <div class="img-filme col-md-4">
                            <img class="cartaz" src="../../assets/poster-os-vingadores-2-a-era-de-ultron-o-95f5a316.jpg" alt="">
                        </div>
                        <div class="text-filme col-md-8">
                            <h1 class="titulo">{{filme.nome}}</h1>
                            <p class="categoria">Genero: {{filme.categorias}}</p>
                            <p class="categoria">Classificação Etária: {{filme.etaria}}</p>
                            <p class="categoria">Tempo de Duração: {{filme.duracao}}</p>
                            <p class="categoria">Sinopse: {{filme.sinopse}}</p>
                            <p class="categoria">Atores Principais: {{filme.atores}}</p>
                            <p class="categoria">{{filme.tipo}}</p>
                            <p class="categoria">Horarios: {{filme.sessoes}}</p>
                            <button class="ver-sessoes">Ver Sessões</button>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselFilmes" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselFilmes" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
    </div>
</div>