<h1>Cadastro de Usuário</h1>
<div class="input row">
    <div class="col-md-6">
        <input type="text" name="nome" placeholder="Digite seu nome completo">
    </div>
    <div class="col-md-6">
        <input type="text" name="cpf" placeholder="Digite seu CPF">
    </div>
</div>
<div class="input row">
    <div class="col-md-12">
        <input type="text" name="endereço" placeholder="Digite seu endereço">
    </div>
</div>
<div class="input row">
    <div class="col-md-12">
        <input type="text" name="e-mail" placeholder="Digite seu e-mail">
    </div>
</div>
<div class="input row">
    <div class="col-md-6">
        <input type="text" name="telefone" placeholder="Digite seu telefone">
    </div>
    <div class="col-md-6">
        <input type="password" name="senha" placeholder="Digite sua senha">
    </div>
</div> 
<div class="input row">
    <div class="col-md-12">
        <button class="confirmationButton"> Cadastrar Usuário </button>
    </div>
</div>       
