<div class="body">
    <app-navbar></app-navbar>
    <div class="paddingLogin">
        <div class="loginBox">
            <h1>Cinema do Parque</h1>
            <div class="inputBox">
                <input type="text" [(ngModel)]="emailOrCpf" placeholder="Escreva seu CPF ou E-mail">
                <input type="password" [(ngModel)]="password" placeholder="Escreva sua senha">
            </div>
            <button class="confirmationButton" (click)="login()"> Fazer Login </button>
            <a routerLink="/cadastro">
                <p>Ainda não é cadastrado?</p>
            </a>
        </div>
    </div>
</div>