/*html tags*/
input{
    margin: 0% 0% 2.5% 0%;
}

/*class tags*/
.loginBox{
    background-color: darkgrey;
    border-radius: 5px;
    height: 40vh;
    margin: auto;
    padding: 5% 5%;
}

.logoutText{
    margin-bottom: 0.5rem;
    text-align: left;
}

.marcador{
    font-weight: 600;
}

.paddingLogin{
    padding: 10% 35%;
}