/*class tags*/
.body{
    background-color: black;
    min-height: 100vh;
    text-align: center;
}

.buttonNavbarCenter{
    border: solid black;
    border-width: 0px 1px 0px 1px;
}

.buttonNavbar:hover, .buttonNavbarCenter:hover{
    background-color: #555555;
    border-radius: 2px;
}

.cadastroBox{
    background-color: darkgrey;
    border-radius: 0 0 5px 5px;
    padding: 5% 5%;
}

.cadastroNavbar{
    background-color: #777777;
    border: solid black;
    border-radius: 5px 5px 0 0;
    border-width: 0px 0px 1px 0px;
    color: #eeeeee;
    cursor: pointer;
}

.paddingCadastro{
    padding: 10% 25%;
}

.row{
    margin: 0px;
}